<%= form_for(@beam) do |f| %>
  <% if @beam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@beam.errors.count, "error") %> prohibited this beam from being saved:</h2>

      <ul>
      <% @beam.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
